@page "~/entrar"
@model Pages_Login

@{
  ViewData["Title"] = "Login da pagina";
}

<div>
  <h1>Login</h1>

  <form action="" method="post">
    <div>
      <input type="email" placeholder="Email">
    </div><br />
    <div>
      <input type="password" name="pass" placeholder="Senha">
    </div><br />
    <hr>
    <div>
      <button type="button">Logar</button>
    </div>
  </form>
</div>
